Auto detect text files and perform LF normalization
* text=auto

# Exclude Jupyter Notebook from language stats
*.ipynb linguist-vendored

# Exclude Makefile from language stats
Makefile linguist-vendored